.NavBarContainer {
  display: flex;
  height: 12vh;
  background-color: skyblue;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.NavBarLinks {
  display: flex;
  cursor: pointer;
}
.NavBarCheckout {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  padding-right: 16px;
  position: relative;
}

.NavBarCheckout::before {
  position: absolute;
  content: "" attr(checkout-length);
  width: 24px;
  height: 24px;
  background-color: red;
  top: -12px;
  right: 1.5rem;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
}

.NavBarSignOut {
  border-radius: 5px;
}
.NavBarLink:hover {
  color: white;
}
