.NavBarContainer {
  display: flex;
  height: 12vh;
  background-color: #1a62a3;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  color: white;
}
.Title {
  /* margin-left: 6rem; */
  position: absolute; /* n ew */
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}
.NavBarLinks {
  display: flex;
  cursor: pointer;
}
.NavBarCheckout {
  padding: 0.5rem;
  text-decoration: none;
  color: #1a62a3;
  background-color: white;
  position: relative;
  border-radius: 8px;
  margin-right: 1rem;
  font-size: 1em;
}

.NavBarCheckout::before {
  position: absolute;
  content: "" attr(checkout-length);
  width: 24px;
  height: 24px;
  background-color: white;
  top: -1.75rem;
  right: 0.01rem;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  color: #1a62a3;
}

.NavBarSignOut {
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  color: #1a62a3;
  background-color: white;
  font-size: 1em;
}
.NavBarLink:hover {
  color: white;
}
@media (max-width: 460px) {
  .Title {
    /* margin-left: 0; */
    position: static;
    margin: 0;
    transform: translateX(0%);
  }
}
