.LoginContainer {
  background-color: #1a62a3;
  width: 100%;
  height: 100vh;
  /* opacity: 0.6; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
.LoginHeader {
  position: absolute;
  color: white;
  top: 50px;
  font-size: 3rem;
  letter-spacing: 2.5px;
}
.FormContainer {
  position: absolute;
  width: 30%;
  height: 40vh;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  top: 25%;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 10px;
}
.Button {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #1a62a3, #1a62a3);
  border-radius: 30px;
  transition: 0.5s;
}
.ButtonBox {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 5px 9px #1a62a3;
  border-radius: 30px;
}

.ToggleButton {
  padding: 9px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.InputGroup {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.InputField {
  width: 80%;
  padding: 10px 0px;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #1a62a3;
  outline: none;
  background: transparent;
}
.SubmitButton {
  width: 85%;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #1a62a3;
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.CheckBoxContainer {
  margin-top: 8px;
  display: flex;
}
span {
  color: #1a62a3;
}
@media (max-width: 750px) {
  .FormContainer {
    width: 60%;
  }
}
