.ProductContainerLink {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.ProductContainer {
  margin: 24px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.ProductName {
  font-weight: 550;
  margin-bottom: 0.5rem;
}
.ProductName,
.ProductDescription {
  padding: 0 6px;
}

@media (min-width: 500px) {
  .ProductContainerLink {
    width: 15%;
    margin-top: 5rem;
    margin-left: 7rem;
  }
  .ProductContainer {
    border: none;
    align-items: center;
  }
  .ProductDescription:hover {
    color: orange;
    text-decoration: underline;
    font-size: 10rem;
  }
}
