.IndividualProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  position: relative;
}

.AddItemContainer {
  color: black;
  position: absolute;
  top: 50%;
  right: 30%;
}
