.IndividualProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  position: relative;
}

.AddItemContainer {
  margin: 0.75rem;
}
.LongDesc {
  text-align: center;
  margin-top: 1.5rem;
  width: 60%;
}
