.IndividualProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  position: relative;
  background-color: white;
  height: 100vh;
  color: #1d3557;
}

.AddItemContainer {
  margin: 0.75rem;
}
.LongDesc {
  text-align: center;
  margin-top: 1.5rem;
  width: 60%;
}

.AddItemText {
  color: #1d3557;
}
.AddItemButton {
  color: #1d3557;
  line-height: 1rem;
}

.GoBackButton {
  position: absolute;
  right: 10px;
  color: white;
  background-color: #a8dadc;
  border: 1px solid#a8dadc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1em;
}
