.GoBackButton {
  position: absolute;
  right: 1rem;
  color: white;
  background-color: #a8dadc;
  border: 1px solid#a8dadc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1em;
  top: 1rem;
}
